{% extends "layout.html" %}

{% block navbarmenu_data %}active{% endblock navbarmenu_data %}

{% block content %}
<div>
	<table class="table table-stripped table-hover">
		<caption class="text-center">Liste des films</caption>
		<thead class="thead-light">
			<tr>
				<th scope="col">Titre</th>
				<th scope="col">Année</th>
				<th scope="col">Note</th>
				<th scope="col">Note (IMDB)</th>
				<th scope="col">Version</th>
				<th scope="col">Date</th>
				<th scope="col">Cinéma ?</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<script src="{{ url_for('static', filename = 'js/data.js') }}"></script>
{% endblock content %}