<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Personal Movie Database</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	<script src="https://d3js.org/d3.v6.min.js"></script>
	<script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">PMDB</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarMenu">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a href="/data" class="nav-link {% block navbarmenu_data %}{% endblock navbarmenu_data %}">Données</a>
				</li>
				<li class="nav-item">
					<a href="/score" class="nav-link {% block navbarmenu_score %}{% endblock navbarmenu_score %}">Notes</a>
				</li>
			</ul>
			<div class="my-2 my-lg-0">
				{% if session["login"] %}
				<a href="/logout" class="btn btn-outline-danger my-2 my-sm-0" type="button" id="logout">Se déconnecter</a>
				<button class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#rateModal">Ajouter</button>
				{% else %}
				<button class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#loginModal">Se connecter</button>
				{% endif %}
			</div>
		</div>
	</nav>
	{% block content %}
	{% endblock %}	

	<div class="modal fade" id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="loginModalLabel">Se connecter</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Fermer">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="form-login" action="/login" method="POST">
						<div class="form-group">
							<label for="password">Mot de passe</label>
							<input type="password" class="form-control" id="password" name="password">
							<div class="invalid-feedback"></div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Valider</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="rateModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="rateModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="rateModalLabel">Noter un film</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Fermer">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<nav>
						<div class="nav nav-tabs nav-fill" id="tabs-rate" role="tablist">
							<a class="nav-link active" id="tab-search-title" data-toggle="tab" href="#tab-pane-search-title" role="tab"	aria-controls="search-title" aria-selected="true">Titre</a>
							<a class="nav-link" id="tab-search-id" data-toggle="tab" href="#tab-pane-search-id" role="tab" aria-controls="search-id" aria-selected="false">Identifiant</a>
						</div>
					</nav>
					<div class="tab-content mt-2" id="tabs-rate-content">
						<div class="tab-pane fade show active" id="tab-pane-search-title" role="tabpanel" aria-labelledby="tab-search-title">
							<form id="form-search-title" class="form-inline d-flex">
								<input type="text" class="form-control flex-grow-1 mr-2" id="search-title" placeholder="Recherchez un film...">
								<button type="submit" class="btn btn-primary">Chercher</button>
							</form>
						</div>
						<div class="tab-pane fade" id="tab-pane-search-id" role="tabpanel" aria-labelledby="tab-search-id">
							<form id="form-search-id" class="form-inline d-flex">
								<input type="text" class="form-control flex-grow-1 mr-2" id="search-id" placeholder="Entrez un identifiant IMDB...">
								<button type="submit" class="btn btn-primary">Compléter</button>
							</form>
						</div>
					</div>
					<ul class="list-group pt-2 pb-2" id="list-search">
					</ul>
					<hr class="mb-2">
					<form id="form-rate">	
						<div class="form-row">
							<div class="form-group col-md-2">
								<label for="imdbID">ID</label>
								<input type="text" class="form-control" id="imdbID" readonly>
							</div>
							<div class="form-group col-md-7">
								<label for="title">Titre</label>
								<input type="text" class="form-control" id="title" readonly>
							</div>
							<div class="form-group col-md-2">
								<label for="year">Année</label>
								<input type="text" class="form-control" id="year" readonly>
							</div>
							<div class="form-group col-md-1">
								<label for="scoreIMDB">IMDB</label>
								<input type="text" class="form-control" id="scoreIMDB" readonly>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="score">Note</label>
								<select name="score" id="score" class="custom-select">
									{% for i in range(11) %}
									<option value="{{ i }}">{{ i }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="version">Version</label>
								<select id="version" class="custom-select">
									<option value="VF">VF</option>
									<option value="VO">VO</option>
								</select>	
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-3">
								<label for="watch_day">Jour</label>
								<input type="number" class="form-control" id="watch_day" min="1" max="31" step="1">
							</div>
							<div class="form-group col-md-6">
								<label for="watch_month">Mois</label>
								<select name="watch_month" id="watch_month" class="custom-select">
									<option value="" selected></option>
									<option value="01">janvier</option>
									<option value="02">février</option>
									<option value="03">mars</option>
									<option value="04">avril</option>
									<option value="05">mai</option>
									<option value="06">juin</option>
									<option value="07">juillet</option>
									<option value="08">août</option>
									<option value="09">septembre</option>
									<option value="10">octobre</option>
									<option value="11">novembre</option>
									<option value="12">décembre</option>
								</select>
							</div>
							<div class="form-group col-md-3">
								<label for="watch_year">Année</label>
								<input type="number" class="form-control" id="watch_year">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="inTheatre">
									<label for="inTheatre" class="custom-control-label">Au cinéma ?</label>
								</div>
							</div>
							<div class="form-group col-md-6">
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="isFrench">
									<label for="isFrench" class="custom-control-label">Film français ?</label>
								</div>
							</div>
						</div>
						<button class="btn btn-primary btn-block" type="submit" id="validate">Valider</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>