{% extends "layout.html" %}

{% block navbarmenu_score %}active{% endblock navbarmenu_score %}

{% block content %}
<div class="container">
	<h2 class="mt-2">Distribution des notes</h2>
	<div id="scores">

	</div>
	<script src="{{ url_for('static', filename = 'js/score.js') }}"></script>
</div>
{% endblock content %}